<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.flomio.sdk"
    version="1.0.2">
    <name>flomio_cordova_plugin</name>
    <description>Flomio SDK integration enables NFC, BLE, and UHF RFID reader hardware.</description>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="FlomioPlugin">
            <param name="android-package" value="com.flomio.plugin.FlomioPlugin"/>
          </feature>
        </config-file>
        <js-module src="www/FlomioPlugin.js" name="FlomioPlugin">
            <clobbers target="floPlugin" />
        </js-module>

        <source-file src="src/android/FlomioPlugin.java" target-dir="src/com/flomio/plugin/"/>
    </platform>

    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="FlomioPlugin">
                <param name="ios-package" value="FlomioPlugin" />
                <source-file src="src/ios/libSDKClasses.a" framework="true" />
                <header-file src="src/ios/include" target-dir="src"/>
            </feature>
        </config-file>
        <js-module src="www/FlomioPlugin.js" name="FlomioPlugin">
            <clobbers target="flomioPlugin" />
        </js-module>
        <header-file src="src/ios/FlomioPlugin.h" />
		<source-file src="src/ios/FlomioPlugin.m" />
    </platform>
</plugin>
