<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.flomio.sdk"
    version="1.0.2">
    <name>flomio_cordova_plugin</name>
    <description>Flomio SDK integration enables NFC, BLE, and UHF RFID reader hardware.</description>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FlomioPlugin">
                <param name="android-package" value="com.flomio.plugin.FlomioPlugin"/>
            </feature>
        </config-file>
        <js-module src="www/flomioPlugin.js" name="FlomioPlugin">
            <clobbers target="flomioPlugin" />
        </js-module>
        <source-file src="src/android/FlomioPlugin.java" target-dir="src/com/flomio/plugin/"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FlomioPlugin">
                <param name="ios-package" value="FlomioPlugin" />
            </feature>
        </config-file>
        <js-module src="www/flomioPlugin.js" name="FlomioPlugin">
            <clobbers target="flomioPlugin" />
        </js-module>

        <!-- Flomio SDK library -->
        <source-file src="src/ios/libSDKClasses.a" framework="true" />

        <!-- Flomio SDK header files -->
        <header-file src="src/ios/FJStringDisplay.h" target-dir="src/ios"/>
        <header-file src="src/ios/ABTAcr1255uj1Reader.h" target-dir="src/ios"/>
        <header-file src="src/ios/AcsAjReader.h" target-dir="src/ios"/>
        <header-file src="src/ios/FmDevice.h" target-dir="src/ios"/>
        <header-file src="src/ios/ABTAcr3901us1Reader.h" target-dir="src/ios"/>
        <header-file src="src/ios/AcsBtReader.h" target-dir="src/ios"/>
        <header-file src="src/ios/FmErrorManager.h" target-dir="src/ios"/>
        <header-file src="src/ios/ABTBluetoothReader.h" target-dir="src/ios"/>
        <header-file src="src/ios/AudioJack.h" target-dir="src/ios"/>
        <header-file src="src/ios/FmNdefManager.h" target-dir="src/ios"/>
        <header-file src="src/ios/ABTBluetoothReaderManager.h" target-dir="src/ios"/>
        <header-file src="src/ios/AudioJackErrors.h" target-dir="src/ios"/>
        <header-file src="src/ios/FmSessionManager.h" target-dir="src/ios"/>
        <header-file src="src/ios/ABTError.h" target-dir="src/ios"/>
        <header-file src="src/ios/DUKPT.h" target-dir="src/ios"/>
        <header-file src="src/ios/FtBleReader.h" target-dir="src/ios"/>
        <header-file src="src/ios/ACRAesTrackData.h" target-dir="src/ios"/>
        <header-file src="src/ios/NdefMessage.h" target-dir="src/ios"/>
        <header-file src="src/ios/ACRAudioJackReader.h" target-dir="src/ios"/>
        <header-file src="src/ios/FTType.h" target-dir="src/ios"/>
        <header-file src="src/ios/NdefRecord.h" target-dir="src/ios"/>
        <header-file src="src/ios/ACRCRC16.h" target-dir="src/ios"/>
        <header-file src="src/ios/FTaR530.h" target-dir="src/ios"/>
        <header-file src="src/ios/ReaderInterface.h" target-dir="src/ios"/>
        <header-file src="src/ios/ACRDukptReceiver.h" target-dir="src/ios"/>
        <header-file src="src/ios/FeitianAjReader.h" target-dir="src/ios"/>
        <header-file src="src/ios/Tag.h" target-dir="src/ios"/>
        <header-file src="src/ios/ACRDukptTrackData.h" target-dir="src/ios"/>
        <header-file src="src/ios/FeitianBtReader.h" target-dir="src/ios"/>
        <header-file src="src/ios/Utilities.h" target-dir="src/ios"/>
        <header-file src="src/ios/FmAudioJackDevice.h" target-dir="src/ios"/>
        <header-file src="src/ios/ACRResult.h" target-dir="src/ios"/>
        <header-file src="src/ios/ft301u.h" target-dir="src/ios"/>
        <header-file src="src/ios/ACRStatus.h" target-dir="src/ios"/>
        <header-file src="src/ios/FmAudioJackSessionManager.h" target-dir="src/ios"/>
        <header-file src="src/ios/utils.h" target-dir="src/ios"/>
        <header-file src="src/ios/ACRTrack1Data.h" target-dir="src/ios"/>
        <header-file src="src/ios/FmBluetoothDevice.h" target-dir="src/ios"/>
        <header-file src="src/ios/winscard.h" target-dir="src/ios"/>
        <header-file src="src/ios/ACRTrack2Data.h" target-dir="src/ios"/>
        <header-file src="src/ios/FmBluetoothSessionManager.h" target-dir="src/ios"/>
        <header-file src="src/ios/wintypes.h" target-dir="src/ios"/>
        <header-file src="src/ios/ACRTrackData.h" target-dir="src/ios"/>
        <header-file src="src/ios/FmCustomTypes.h" target-dir="src/ios"/>

        <!-- System Frameworks -->
        <framework src="MediaPlayer.framework" weak="true" />
        <framework src="libc++.dylib" />

        <!-- Request permission to use mircophone -->
        <preference name="MICROPHONE_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROPHONE_USAGE_DESCRIPTION</string>
        </config-file>

        <header-file src="src/ios/FlomioPlugin.h" />
        <source-file src="src/ios/FlomioPlugin.m" />
    </platform>
</plugin>
